@{
    ViewBag.Title = ViewBag.CartType;
}

<h2>@ViewBag.Msg</h2>

<h3 class="well">@ViewBag.CartType Id: @ViewBag.checkout_id
<br />State: @ViewBag.state
<br />Amount: @ViewBag.amount
</h3>
<h3> @ViewBag.Error</h3>